<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Awantura o Milion</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/ulg/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</head> 
<body class="bg-dark text-light text-center">
    <div th:fragment="navigationPanel">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a th:href="@{/game}"><h5 class="navbar-brand text-primary">Awantura o Milion</h5></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                  <a class="nav-link" th:href="@{/register}">Rejestracja</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                  <a class="nav-link" th:href="@{/login}">Logowanie</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" th:href="@{/account}">Twoje konto</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" th:href="@{/ranking}">Ranking</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" th:href="@{/logout}">Wyloguj się</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
</body>
</html> 